/deep/.van-tab__text {
  font-size  : 17px;
  font-weight: 500;
  line-height: 24px;
}

.tab-content {
  padding: 5px 10px 15px;
}

.exam-my {
  height          : calc(100vh);
  background-color: var(--ion-background-color2);
  overflow-y      : scroll;
}