html {
  background-color: #fff;
}
.person {
  padding-top: calc(150px - 50px);
}

.user-info {
  width                : 100%;
  height               : 150px;
  background-size      : 100% 100%;
  background-repeat    : no-repeat;
  background-image     : url('../../assets/geren_beijing@2x.png');
  position             : fixed;
  top                  : 0;
  left                 : 0;
  padding-top          : 20px;
  background-position-y: -30px;
}

.info {
  display    : flex;
  flex-flow  : row nowrap;
  align-items: center;
  padding    : 0 15px;
  // margin-top : 10px;
}

.header-img {
  width        : 64px;
  height       : 64px;
  border-radius: 50%;
  margin-right : 10px;
}

.info-text-box {
  display        : flex;
  flex-flow      : column nowrap;
  flex           : 1;
  justify-content: center;

}

.grid{
  z-index: 2;
  position: relative;
}

/deep/.van-grid-item__text {
  font-size  : 14px;
  font-weight: 400;
}