html {
  background-color: #fff;
}
.person {
  padding-top: calc(150px - 50px);
}

.user-info {
  width                : 100%;
  height               : 150px;
  line-height: 60px;
  background-size      : 100% 100%;
  background-repeat    : no-repeat;
  background-image     : url('../../assets/geren_beijing@2x.png');
  position             : fixed;
  top                  : 0;
  left                 : 0;
  padding-top          : 20px;
  padding-left          : 10px;
  background-position-y: -30px;
}

.info {
  display    : flex;
  flex-flow  : row nowrap;
  align-items: center;
  padding    : 0 15px;
  // margin-top : 10px;
}

.name {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}