html {
  background-color: #fff;
}

.person {
  // padding-top: calc(150px - 50px);
}

.user-info {
  width                : 100%;
  height               : 120px;
  line-height          : 120px;
  box-sizing           : border-box;
  background-repeat    : no-repeat;
  background-image     : url('../../assets/juxingexp@2x.png');
  background-position-y: center;
}

.info {
  display       : flex;
  flex-flow     : row nowrap;
  align-items   : center;
  padding       : 0 15px;
  // margin-top : 10px;
}

.name {
  color      : #fff;
  font-weight: 700;
  font-size  : 24px;
}